In [87]:
import pandas as pd
df=pd.read_csv("phone_data.csv")
#df

In [88]:
A=df['network'].c()
A

830

In [89]:
df.shape

(830, 7)

In [90]:
B=df['duration'].max()
B

10528.0

In [91]:
C=df['duration'][df['item'] == 'call'].sum()  
C

92321.0

In [92]:
D=df['month'].value_counts()          
D

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

In [93]:
E=df.groupby('month').first()         
E

         index              date  duration  item   network network_type
month
2014-11      0  15-10-2014 06:58    34.429  data      data         data
2014-12    228  13-11-2014 06:58    34.429  data      data         data
2015-01    381  13-12-2014 06:58    34.429  data      data         data
2015-02    577  13-01-2015 06:58    34.429  data      data         data
2015-03    729  12-02-2015 20:15    69.000  call  landline     landline

In [94]:
F=df.groupby('month')['duration'].sum()  
F

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [95]:
G=df.groupby('month')['date'].count()
G

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: date, dtype: int64

In [96]:
H=df[df['item'] == 'call'].groupby('network')['duration'].sum()
H

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

In [97]:
I=df.groupby(['month', 'item'])['date'].count()
I

month    item
2014-11  call    107
         data     29
         sms      94
2014-12  call     79
         data     30
         sms      48
2015-01  call     88
         data     31
         sms      86
2015-02  call     67
         data     31
         sms      39
2015-03  call     47
         data     29
         sms      25
Name: date, dtype: int64

In [98]:
x=df.iloc[:,:]
x=x.drop('network',axis=1)
x=x.values
y=df.loc[:,'network'].values
x
y

array(['data', 'Vodafone', 'Meteor', 'Tesco', 'Tesco', 'Tesco', 'data',
       'Three', 'Three', 'voicemail', 'Three', 'Meteor', 'Meteor', 'data',
       'Tesco', 'Tesco', 'Meteor', 'Vodafone', 'Vodafone', 'Three',
       'Vodafone', 'Tesco', 'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone',
       'data', 'Tesco', 'Vodafone', 'Vodafone', 'Vodafone', 'Three',
       'voicemail', 'Vodafone', 'Three', 'Three', 'Three', 'Vodafone',
       'Three', 'data', 'Three', 'Tesco', 'Three', 'Three', 'Three',
       'data', 'voicemail', 'voicemail', 'Vodafone', 'landline', 'Tesco',
       'Vodafone', 'Vodafone', 'Vodafone', 'data', 'Three', 'data',
       'Three', 'data', 'landline', 'Meteor', 'Tesco', 'Vodafone',
       'Vodafone', 'Vodafone', 'Meteor', 'data', 'Vodafone', 'Vodafone',
       'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone',
       'Vodafone', 'Three', 'Vodafone', 'Vodafone', 'Tesco', 'Vodafone',
       'data', 'data', 'Three', 'Tesco', 'Meteor', 'Three', 'Tesco',
       'data', 'Three', 'Three', 'Three', 'Three', 'data', 'landline',
       'Tesco', 'data', 'Vodafone', 'data', 'Vodafone', 'Vodafone',
       'Meteor', 'data', 'Vodafone', 'Vodafone', 'Three', 'Tesco', 'Three',
       'Three', 'Three', 'Meteor', 'Tesco', 'data', 'Vodafone', 'Tesco',
       'data', 'Three', 'Three', 'Three', 'Meteor', 'Meteor', 'data',
       'special', 'Three', 'Vodafone', 'Vodafone', 'Vodafone', 'Three',
       'landline', 'Tesco', 'Vodafone', 'Tesco', 'data', 'Vodafone',
       'Vodafone', 'Three', 'Three', 'voicemail', 'voicemail', 'Three',
       'Meteor', 'Meteor', 'Meteor', 'Three', 'Meteor', 'Meteor', 'Three',
       'Tesco', 'Three', 'Meteor', 'Meteor', 'Meteor', 'data', 'Three',
       'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone',
       'Vodafone', 'data', 'Vodafone', 'Vodafone', 'Vodafone', 'Three',
       'Meteor', 'Three', 'Vodafone', 'Vodafone', 'Tesco', 'Vodafone',
       'data', 'Vodafone', 'Three', 'Vodafone', 'Vodafone', 'Vodafone',
       'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone',
       'Vodafone', 'data', 'Three', 'Tesco', 'Three', 'Three', 'Three',
       'Three', 'data', 'Tesco', 'Three', 'data', 'Vodafone', 'Three',
       'Three', 'Three', 'Three', 'Three', 'data', 'Vodafone', 'Vodafone',
       'Three', 'Three', 'Meteor', 'Meteor', 'Meteor', 'Three', 'data',
       'Vodafone', 'Three', 'Vodafone', 'Three', 'Three', 'Vodafone',
       'Vodafone', 'landline', 'Vodafone', 'Vodafone', 'Vodafone',
       'Vodafone', 'Three', 'Three', 'Three', 'Vodafone', 'Three', 'Three',
       'Vodafone', 'data', 'Three', 'Vodafone', 'data', 'voicemail',
       'Vodafone', 'data', 'data', 'Vodafone', 'data', 'data', 'Vodafone',
       'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone',
       'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone', 'data', 'Tesco',
       'Meteor', 'Three', 'Vodafone', 'data', 'voicemail', 'Three',
       'Meteor', 'Three', 'Three', 'Three', 'Tesco', 'Vodafone', 'data',
       'Meteor', 'Meteor', 'Meteor', 'landline', 'Vodafone', 'landline',
       'Three', 'Three', 'Tesco', 'Meteor', 'Tesco', 'data', 'Meteor',
       'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone', 'data', 'Three',
       'Three', 'Three', 'Three', 'Three', 'Three', 'data', 'Three',
       'Meteor', 'data', 'Vodafone', 'Meteor', 'Meteor', 'Meteor',
       'Meteor', 'Meteor', 'voicemail', 'Tesco', 'Tesco', 'voicemail',
       'Tesco', 'voicemail', 'Three', 'data', 'Meteor', 'Vodafone',
       'Vodafone', 'Three', 'Vodafone', 'Three', 'Three', 'Three', 'Three',
       'Meteor', 'Meteor', 'Meteor', 'Meteor', 'Meteor', 'Three', 'data',
       'Three', 'Three', 'data', 'Three', 'Three', 'Tesco', 'data',
       'Three', 'data', 'Three', 'Three', 'Three', 'Three', 'Three',
       'Three', 'Three', 'data', 'Three', 'Three', 'data', 'Meteor',
       'data', 'landline', 'Tesco', 'data', 'Vodafone', 'Three', 'Meteor',
       'voicemail', 'data', 'landline', 'Tesco', 'Three', 'data', 'Meteor',
       'Vodafone', 'Tesco', 'Vodafone', 'world', 'world', 'Meteor', 'data',
       'voicemail', 'Three', 'Three', 'Three', 'Tesco', 'Three', 'world',
       'world', 'data', 'Meteor', 'data', 'Tesco', 'data', 'data', 'data',
       'Vodafone', 'Vodafone', 'data', 'Three', 'landline', 'landline',
       'landline', 'data', 'voicemail', 'Three', 'data', 'Three', 'Three',
       'Three', 'Vodafone', 'Three', 'Three', 'data', 'data', 'Vodafone',
       'Vodafone', 'data', 'Three', 'Meteor', 'Meteor', 'Meteor', 'Three',
       'Tesco', 'Meteor', 'Meteor', 'data', 'Vodafone', 'Three', 'Three',
       'Tesco', 'Three', 'Meteor', 'Tesco', 'Tesco', 'Three', 'Vodafone',
       'data', 'Tesco', 'Tesco', 'Meteor', 'Tesco', 'Meteor', 'data',
       'data', 'Tesco', 'Vodafone', 'Meteor', 'Vodafone', 'Vodafone',
       'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone', 'Tesco',
       'Meteor', 'Meteor', 'Three', 'Tesco', 'data', 'voicemail',
       'landline', 'Three', 'Vodafone', 'landline', 'Vodafone',
       'voicemail', 'landline', 'Vodafone', 'data', 'Three', 'Tesco',
       'Three', 'Three', 'Vodafone', 'Vodafone', 'Meteor', 'Meteor',
       'Three', 'data', 'Vodafone', 'data', 'voicemail', 'Vodafone',
       'data', 'Meteor', 'Meteor', 'Meteor', 'Meteor', 'data', 'data',
       'Tesco', 'data', 'Three', 'Three', 'Three', 'Three', 'Three',
       'Three', 'Three', 'Three', 'Three', 'Three', 'Three', 'Three',
       'Three', 'Three', 'Three', 'Three', 'Three', 'Three', 'Three',
       'data', 'Meteor', 'Meteor', 'landline', 'Vodafone', 'Vodafone',
       'Vodafone', 'Vodafone', 'data', 'data', 'Vodafone', 'Meteor',
       'Meteor', 'data', 'Vodafone', 'Three', 'data', 'Vodafone',
       'Vodafone', 'Vodafone', 'data', 'landline', 'landline', 'Three',
       'Three', 'Three', 'Three', 'landline', 'Meteor', 'landline',
       'Three', 'Tesco', 'Three', 'data', 'Three', 'Three', 'Meteor',
       'Vodafone', 'Vodafone', 'Meteor', 'Vodafone', 'data', 'Vodafone',
       'Vodafone', 'Vodafone', 'data', 'Meteor', 'Meteor', 'Meteor',
       'Tesco', 'Vodafone', 'Tesco', 'Three', 'Vodafone', 'Vodafone',
       'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone', 'data', 'Meteor',
       'Three', 'Vodafone', 'Vodafone', 'data', 'Three', 'Vodafone',
       'Vodafone', 'Meteor', 'Three', 'Vodafone', 'Vodafone', 'data',
       'Vodafone', 'Three', 'data', 'Meteor', 'Meteor', 'Three',
       'Vodafone', 'Vodafone', 'data', 'Three', 'Three', 'Three', 'Three',
       'Vodafone', 'Vodafone', 'landline', 'landline', 'data', 'landline',
       'Three', 'Three', 'Vodafone', 'Vodafone', 'Three', 'Three', 'data',
       'Three', 'special', 'Tesco', 'data', 'Meteor', 'Meteor', 'Three',
       'Three', 'Tesco', 'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone',
       'Three', 'Three', 'data', 'Three', 'Tesco', 'data', 'Three',
       'Tesco', 'data', 'Vodafone', 'Tesco', 'Tesco', 'Tesco', 'data',
       'Vodafone', 'Vodafone', 'Vodafone', 'data', 'Three', 'voicemail',
       'Vodafone', 'voicemail', 'Three', 'Tesco', 'Meteor', 'Vodafone',
       'data', 'voicemail', 'Vodafone', 'data', 'landline', 'Tesco',
       'Three', 'Vodafone', 'Vodafone', 'Vodafone', 'Tesco', 'data',
       'data', 'Vodafone', 'Three', 'data', 'Three', 'Three', 'data',
       'Three', 'Meteor', 'data', 'Vodafone', 'landline', 'landline',
       'data', 'Vodafone', 'Vodafone', 'Tesco', 'Vodafone', 'Three',
       'Tesco', 'Tesco', 'data', 'Tesco', 'Tesco', 'data', 'Tesco',
       'Vodafone', 'data', 'landline', 'data', 'Tesco', 'Tesco', 'Tesco',
       'Tesco', 'Three', 'Three', 'landline', 'data', 'Three', 'data',
       'voicemail', 'Tesco', 'special', 'data', 'voicemail', 'landline',
       'data', 'voicemail', 'Vodafone', 'Three', 'Three', 'data',
       'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone', 'Three', 'Vodafone',
       'Three', 'Three', 'Three', 'Three', 'landline', 'Three', 'Tesco',
       'Three', 'Three', 'Three', 'Three', 'data', 'landline', 'data',
       'Three', 'Three', 'Three', 'Vodafone', 'Meteor', 'Vodafone',
       'Vodafone', 'data', 'Vodafone', 'data', 'data', 'landline', 'Tesco',
       'data', 'Vodafone', 'Vodafone', 'data', 'Three', 'Tesco', 'data',
       'landline', 'data', 'data', 'Meteor', 'Three', 'data', 'Tesco',
       'Three', 'data', 'Vodafone', 'Vodafone', 'Vodafone', 'Vodafone',
       'data', 'Vodafone', 'data', 'data', 'data', 'landline', 'data',
       'voicemail', 'Three', 'Three', 'data', 'Tesco', 'Vodafone', 'Three',
       'Tesco', 'Tesco', 'Tesco', 'Tesco', 'Tesco', 'Tesco', 'Vodafone',
       'data', 'Vodafone', 'voicemail', 'data', 'Three', 'Three',
       'Vodafone', 'data', 'landline', 'Meteor', 'Three', 'landline',
       'landline', 'landline', 'landline', 'landline', 'Three', 'Vodafone',
       'Three', 'data', 'Meteor', 'data', 'Vodafone', 'Vodafone',
       'Vodafone', 'Vodafone', 'Vodafone', 'Three', 'voicemail',
       'voicemail', 'Meteor', 'Tesco', 'data', 'landline', 'Three',
       'Vodafone', 'Vodafone', 'Vodafone', 'Three', 'data', 'Vodafone',
       'Vodafone', 'Three', 'Three', 'landline', 'data', 'data', 'data',
       'data', 'data', 'data', 'data', 'data', 'world', 'Vodafone', 'data',
       'world', 'world'], dtype=object)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 7 columns):
index           830 non-null int64
date            830 non-null object
duration        830 non-null float64
item            830 non-null object
month           830 non-null object
network         830 non-null object
network_type    830 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 45.5+ KB

In [100]:
from sklearn.preprocessing import LabelEncoder
x_lb=LabelEncoder()
x[:,1]=x_lb.fit_transform(x[:,1])
x[:,1]
x[:,3]=x_lb.fit_transform(x[:,3])
x[:,3]
x[:,4]=x_lb.fit_transform(x[:,4])
x[:,4]
x[:,5]=x_lb.fit_transform(x[:,5])
x[:,5]

array([0, 2, 2, 2, 2, 2, 0, 2, 2, 4, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0,
       4, 4, 2, 1, 2, 2, 2, 2, 0, 2, 0, 2, 0, 1, 2, 2, 2, 2, 2, 2, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2,
       0, 1, 2, 0, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0,
       2, 2, 2, 2, 2, 0, 3, 2, 2, 2, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 4, 4,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2,
       2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2,
       2, 0, 4, 2, 0, 0, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 0, 4, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 0,
       2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 4,
       2, 2, 4, 2, 4, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       2, 2, 0, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 1,
       2, 0, 2, 2, 2, 4, 0, 1, 2, 2, 0, 2, 2, 2, 2, 5, 5, 2, 0, 4, 2, 2, 2,
       2, 2, 5, 5, 0, 2, 0, 2, 0, 0, 0, 2, 2, 0, 2, 1, 1, 1, 0, 4, 2, 0, 2,
       2, 2, 2, 2, 2, 0, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 0, 4, 1, 2, 2, 1, 2, 4, 1, 2, 0, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 2, 0, 4, 2, 0, 2, 2, 2, 2, 0, 0, 2, 0, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 1, 2, 2, 2, 2, 0, 0,
       2, 2, 2, 0, 2, 2, 0, 2, 2, 2, 0, 1, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2,
       0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2, 2,
       2, 2, 0, 2, 2, 2, 2, 2, 2, 1, 1, 0, 1, 2, 2, 2, 2, 2, 2, 0, 2, 3, 2,
       0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 2, 2,
       0, 2, 2, 2, 0, 2, 4, 2, 4, 2, 2, 2, 2, 0, 4, 2, 0, 1, 2, 2, 2, 2, 2,
       2, 0, 0, 2, 2, 0, 2, 2, 0, 2, 2, 0, 2, 1, 1, 0, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 0, 2, 2, 0, 1, 0, 2, 2, 2, 2, 2, 2, 1, 0, 2, 0, 4, 2, 3, 0,
       4, 1, 0, 4, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 1, 2, 0, 2, 2, 0, 2,
       2, 0, 1, 0, 0, 2, 2, 0, 2, 2, 0, 2, 2, 2, 2, 0, 2, 0, 0, 0, 1, 0, 4,
       2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 4, 0, 2, 2, 2, 0, 1, 2,
       2, 1, 1, 1, 1, 1, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 0,
       1, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 5, 2, 0,
       5, 5], dtype=object)

In [101]:
y_labelencoder=LabelEncoder()
y=y_labelencoder.fit_transform(y)
y

array([4, 3, 0, 1, 1, 1, 4, 2, 2, 7, 2, 0, 0, 4, 1, 1, 0, 3, 3, 2, 3, 1, 3,
       3, 3, 3, 4, 1, 3, 3, 3, 2, 7, 3, 2, 2, 2, 3, 2, 4, 2, 1, 2, 2, 2, 4,
       7, 7, 3, 5, 1, 3, 3, 3, 4, 2, 4, 2, 4, 5, 0, 1, 3, 3, 3, 0, 4, 3, 3,
       3, 3, 3, 3, 3, 3, 2, 3, 3, 1, 3, 4, 4, 2, 1, 0, 2, 1, 4, 2, 2, 2, 2,
       4, 5, 1, 4, 3, 4, 3, 3, 0, 4, 3, 3, 2, 1, 2, 2, 2, 0, 1, 4, 3, 1, 4,
       2, 2, 2, 0, 0, 4, 6, 2, 3, 3, 3, 2, 5, 1, 3, 1, 4, 3, 3, 2, 2, 7, 7,
       2, 0, 0, 0, 2, 0, 0, 2, 1, 2, 0, 0, 0, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3,
       3, 3, 2, 0, 2, 3, 3, 1, 3, 4, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 2,
       1, 2, 2, 2, 2, 4, 1, 2, 4, 3, 2, 2, 2, 2, 2, 4, 3, 3, 2, 2, 0, 0, 0,
       2, 4, 3, 2, 3, 2, 2, 3, 3, 5, 3, 3, 3, 3, 2, 2, 2, 3, 2, 2, 3, 4, 2,
       3, 4, 7, 3, 4, 4, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 1, 0, 2,
       3, 4, 7, 2, 0, 2, 2, 2, 1, 3, 4, 0, 0, 0, 5, 3, 5, 2, 2, 1, 0, 1, 4,
       0, 3, 3, 3, 3, 4, 2, 2, 2, 2, 2, 2, 4, 2, 0, 4, 3, 0, 0, 0, 0, 0, 7,
       1, 1, 7, 1, 7, 2, 4, 0, 3, 3, 2, 3, 2, 2, 2, 2, 0, 0, 0, 0, 0, 2, 4,
       2, 2, 4, 2, 2, 1, 4, 2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 0, 4, 5,
       1, 4, 3, 2, 0, 7, 4, 5, 1, 2, 4, 0, 3, 1, 3, 8, 8, 0, 4, 7, 2, 2, 2,
       1, 2, 8, 8, 4, 0, 4, 1, 4, 4, 4, 3, 3, 4, 2, 5, 5, 5, 4, 7, 2, 4, 2,
       2, 2, 3, 2, 2, 4, 4, 3, 3, 4, 2, 0, 0, 0, 2, 1, 0, 0, 4, 3, 2, 2, 1,
       2, 0, 1, 1, 2, 3, 4, 1, 1, 0, 1, 0, 4, 4, 1, 3, 0, 3, 3, 3, 3, 3, 3,
       3, 1, 0, 0, 2, 1, 4, 7, 5, 2, 3, 5, 3, 7, 5, 3, 4, 2, 1, 2, 2, 3, 3,
       0, 0, 2, 4, 3, 4, 7, 3, 4, 0, 0, 0, 0, 4, 4, 1, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 0, 0, 5, 3, 3, 3, 3, 4, 4,
       3, 0, 0, 4, 3, 2, 4, 3, 3, 3, 4, 5, 5, 2, 2, 2, 2, 5, 0, 5, 2, 1, 2,
       4, 2, 2, 0, 3, 3, 0, 3, 4, 3, 3, 3, 4, 0, 0, 0, 1, 3, 1, 2, 3, 3, 3,
       3, 3, 3, 4, 0, 2, 3, 3, 4, 2, 3, 3, 0, 2, 3, 3, 4, 3, 2, 4, 0, 0, 2,
       3, 3, 4, 2, 2, 2, 2, 3, 3, 5, 5, 4, 5, 2, 2, 3, 3, 2, 2, 4, 2, 6, 1,
       4, 0, 0, 2, 2, 1, 3, 3, 3, 3, 2, 2, 4, 2, 1, 4, 2, 1, 4, 3, 1, 1, 1,
       4, 3, 3, 3, 4, 2, 7, 3, 7, 2, 1, 0, 3, 4, 7, 3, 4, 5, 1, 2, 3, 3, 3,
       1, 4, 4, 3, 2, 4, 2, 2, 4, 2, 0, 4, 3, 5, 5, 4, 3, 3, 1, 3, 2, 1, 1,
       4, 1, 1, 4, 1, 3, 4, 5, 4, 1, 1, 1, 1, 2, 2, 5, 4, 2, 4, 7, 1, 6, 4,
       7, 5, 4, 7, 3, 2, 2, 4, 3, 3, 3, 3, 2, 3, 2, 2, 2, 2, 5, 2, 1, 2, 2,
       2, 2, 4, 5, 4, 2, 2, 2, 3, 0, 3, 3, 4, 3, 4, 4, 5, 1, 4, 3, 3, 4, 2,
       1, 4, 5, 4, 4, 0, 2, 4, 1, 2, 4, 3, 3, 3, 3, 4, 3, 4, 4, 4, 5, 4, 7,
       2, 2, 4, 1, 3, 2, 1, 1, 1, 1, 1, 1, 3, 4, 3, 7, 4, 2, 2, 3, 4, 5, 0,
       2, 5, 5, 5, 5, 5, 2, 3, 2, 4, 0, 4, 3, 3, 3, 3, 3, 2, 7, 7, 0, 1, 4,
       5, 2, 3, 3, 3, 2, 4, 3, 3, 2, 2, 5, 4, 4, 4, 4, 4, 4, 4, 4, 8, 3, 4,
       8, 8], dtype=int64)

In [102]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20,random_state=0)
x_train
y_test.size

166

In [103]:
from sklearn.linear_model import LogisticRegression
LogR = LogisticRegression(random_state=0)
LogR.fit (x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [104]:
from sklearn.metrics import accuracy_score
result = LogR.predict(x_test)
print(accuracy_score(result,y_test))

0.55421686747

In [106]:
from sklearn.metrics import confusion_matrix
ConfusionMatrix = confusion_matrix(y_test,result)
ConfusionMatrix

array([[ 1,  0,  7,  9,  0,  0,  0,  0,  0],
       [ 1,  3,  9,  5,  0,  0,  0,  1,  0],
       [ 0,  2, 26, 19,  0,  0,  0,  0,  0],
       [ 1,  1, 12, 32,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0, 22,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  5,  0,  0,  0],
       [ 0,  0,  0,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  4,  0,  0,  0,  0,  3,  0],
       [ 0,  0,  0,  2,  0,  0,  0,  0,  0]], dtype=int64)